<footer id="copyrights">
  <div class="container footer-container">
      <div class="row justify-content-center">
          <div class="col-md-3 footer-logo-column text-center">
              <img src="/images/Artboard 7@290x-8.png" alt="SwissBake Logo" class="footer-logo">
              <address class="company-address">
                Junkerschlossweg 9, 4465 Hemmiken <br>
                Basel-Landschaft, Switzerland <br>
                <a class="footer-mail" href="mailto:support@swissbake.ch">support@swissbake.ch</a>
              </address>
          </div>
          <div class="col-md-9">
              <div class="row footer-columns justify-content-center">
                  <div class="col-md-3 footer-column text-center">
                      <h5 class="footer-toggle" onclick="toggleDropdown('quick-links')">Quick Links <span class="arrow">&#9662;</span></h5>
                      <ul class="fc footer-content quick-links">
                          <li><i class="fa-solid fa-angles-right"></i><a href="/about"> About</a></li>
                          <li><i class="fa-solid fa-angles-right"></i><a href="/blog"> Blog</a></li>
                          <li><i class="fa-solid fa-angles-right"></i><a href="/career"> Career</a></li>
                          <li><i class="fa-solid fa-angles-right"></i><a href="/contact"> Contact us</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 footer-column text-center">
                      <h5 class="footer-toggle" onclick="toggleDropdown('usage-conditions')">Usage Conditions <span class="arrow">&#9662;</span></h5>
                      <ul class="fc footer-content usage-conditions">
                          <li><i class="fa-solid fa-angles-right"></i><a href="/privacy-policy"> Privacy Policy</a></li>
                          <li><i class="fa-solid fa-angles-right"></i><a href="/terms-of-use"> Terms Of Use</a></li>
                          <li><i class="fa-solid fa-angles-right"></i><a href="/shipping-policy"> Shipping Policy</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 footer-column text-center socials-footer">
                      <h5>Follow SwissBake®</h5>
                      <ul class="social-icons">
                          <li><a href="https://www.facebook.com/SwissBakeGlobal/" target="_blank" title="facebook"><i class="fab fa-facebook footer-icons"></i></a></li>
                          <li><a href="https://www.instagram.com/swissbake.global/" target="_blank" title="instagram"><i class="fab fa-instagram footer-icons"></i></a></li>
                          <li><a href="https://twitter.com/SwissBakeGlobal/" target="_blank" title="twitter"><i class="fab fa-twitter-square footer-icons"></i></a></li>
                          <li><a href="https://www.linkedin.com/company/swiss-bake-ingredients-pvt-ltd" target="_blank" title="linkedin"><i class="fab fa-linkedin footer-icons"></i></a></li>
                          <li><a href="https://www.youtube.com/channel/UCrbRanf0JTsYiqXZTaltUVA" target="_blank" title="youtube"><i class="fab fa-youtube footer-icons"></i></a></li>
                          <li><a href="https://in.pinterest.com/swissbake/" target="_blank" title="pinterest"><i class="fab fa-pinterest-p footer-icons"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>


  




<script src="/views/layout/js/script.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Bootstrap CSS -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-2.0.3/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        $("table").DataTable({
            order: [0,'desc']
        });
    });
</script>
</body>
</html>